@import "../../mixins.scss";


.movieCard {
    width: 100px;
    margin-bottom: 30px;
    cursor: pointer;
    @include md {
        width: 200px;
    }
    @include lg {
        width: 200px;
    }
    flex-shrink: 0;


    .posterBlock {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1.5;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 10px;
        .lazy-load-image-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
    
            }
        }
        .circleRating {
            width: 35px;
            height: 35px;
            position: relative;
            top: 30px;
            background-color: whitesmoke;
            flex-shrink: 0;
            @include md {
                width: 50px;
                height: 50px;
            }
        }
        // .genres {
        //     display: none;
        //     position: relative;
        //     @include md {
        //         display: flex;
        //         flex-flow: wrap;
        //         justify-content: flex-end;
        //     }
        // }
    }
    .textBlock {
        color: white;
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        .title {
            font-size: 15px;
            margin-bottom: 10px;
            line-height: 25px;
            font-weight: 600;
            @include ellipsis(1);
            @include md {
                font-size: 18px;
            }
        }
        .date {
            font-size: 12px;
            opacity: 0.3;
        }
    }
    &:hover {
        .posterBlock {
            opacity: 0.75;
        }
    }
}