.videoPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    .opacityLayer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(3.8px);
        -webkit-backdrop-filter: blur(3.8px);
        opacity: 0;
        transition: opacity 400ms;
    }
    .videoPlayer {
        position: relative;
        width: 850px;
        aspect-ratio: 16 / 9;
        background-color: white;
        transform: scale(0.2);
        transition: transform 200ms;
        .closeBtn {
            font-size: 23px;
            font-weight: 800;
            position: absolute;
            color: white;
            top: -20px;
            right: 0;
            cursor: pointer;
        }
        .player-block{
            border-radius: 50%;
        }
    }
    &.visible {
        opacity: 1;
        visibility: visible;
        .opacityLayer {
            opacity: 1;
        }
        .videoPlayer {
            transform: scale(1);
        }
    }
}