@import "../../mixins.scss";


.footer {
    background-color: var(--black3);
    padding: 55px 0;
    width: 100%;
    color: white;
    position: relative;
    .contentWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .menuItems {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-bottom: 20px;
        @include md {
            margin-bottom: 30px;
            gap: 30px;
        }
        .menuItem {
            transition: all ease 0.3s;
            cursor: pointer;
            white-space: nowrap;
            font-size: 12px;
            @include md {
                font-size: 16px;
            }
            &:hover {
                color: var(--pink);
            }
        }
    }
    .infoText {
        font-size: 12px;
        line-height: 20px;
        font-weight: 300;
        text-align: justify;
        opacity: 0.49;
        text-align: center;
        max-width: 1100px;
        margin-bottom: 20px;
        @include md {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
    .socialIcons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 22px;
        margin-bottom: 20px;
        .icon {
            color: white;
            width: 51px;
            height: 51px;
            border-radius: 50%;
            background-color: var(--black);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all ease 0.15s;
            &:hover {
                box-shadow: 0 0 0.6rem var(--pink);
                color: var(--pink);
            }
        }
    }
    .copyright{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #5d6e8648;
        height: 2.15rem;

        p{
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
            letter-spacing: 2px;
            font-weight: 400;
            font-size: 16px;
        }

    }
}