@import "../../../mixins.scss";

.heroBanner
{
    width: 100%;
    height: 450px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    position: relative;
       @include md
        {
         height: 700px;
        } 

    .backdrop-img
    {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.4;
        overflow: hidden;
            .lazy-load-image-background
            {
                width: 100%;
                height: 100%;
                    img
                    {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        object-position: center;
                    }
            }
    }
    .opacity-layer{
        width: 100%;
        height: 275px;
        background: linear-gradient(
            180deg,
            rgba(4, 22, 45, 0) 0%,
            #04152d 75%
            ) ;
            position: absolute;
            bottom: 0;
            left: 0;

    }
     .heroBannerContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        text-align: center;
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        .title{
            font-size: 50px;
            font-weight: 600;
            margin-bottom: 15px;
            @include md{
                margin-bottom: 10px;
                font-size: 105px;
            }
        }
            .subtitle{
                font-size: 16px;
                font-weight: 200;
                margin-bottom: 40px;
                @include md{
                    font-size: 18px;
                }
            }
            .searchInput{
                display: flex;
                align-items: center;
                width: 100%;
                input{
                    width: calc(100% - 100px) ;
                    height: 45px;
                    background-color: white;
                    outline: 0;
                    border: 0;
                    border-radius: 50px 0 0 50px ;
                    padding: 0 15px;
                    font-size: 15px;
                    @include md{
                        width: calc(100% - 150px);
                        height: 60px;
                        padding: 0 30px;
                    }
                }
                button{
                    width: 100px;
                    height: 45px;
                    background-color: var(--umar);
                    color: white;
                    outline: 0;
                    border: 0;
                    cursor: pointer;
                    border-radius: 0 50px 50px 0 ;
                    font-size: 16px;
                    @include md{
                        width: 150px;
                        height: 60px;

                    }



                }
            }

        }

        
    }